.max-size {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html {
  @extend .max-size;
}

body {
  @extend .max-size;
  background: #0000cd;
  color: #fff;
  font: bold 14px/18px Arial;
}

a {
  text-decoration: none;
  color: #fff;
  outline: none;
  &:hover {
    color: #000;
  }
}

.window {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 0px;
  line-height: 0px;
  iframe {
    @extend .max-size;
    border: none;
  }
}

fieldset {
  padding: 10px;
  border: 1px solid #fff;
  margin: 0 5px;
  legend {
    background: #faebd7;
    padding: 0 5px;
    color: #000;
  } 
}

.directory {
  list-style: none;
  a, span {
    display: block;
    &:hover {
      background: #00cdcd;
      color: #000;
    }
  }
  span {
    color: #faebd7;
    font-weight: normal;
  }
}

